<div class="bg-white sm: md: lg: xl: 2xl:">
    <div class="grid gap-15 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-rows-3" *ngIf="btn_estadoR">
        <button class="bg-orange-500 w-[320px] h-[45px] text-white text-[15px] place-content-center text-center font-bold rounded-2xl mx-8 my-16" (click)="cambiarEstadoC()">Crear artículo</button>   
    </div>
    <div class="bg-gray-300 w-[1020px] h-[720px] p-4 m-auto mt-0 bg-center rounded-2xl" *ngIf="btn_estadoC">
        <div class="grid gap-15 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-rows-3">
            <div>
                <div>
                    <h1 class="text-black-500 text-[50px] mb-5 text-center font-bold">Registrar Artículo</h1>
                    <div>
                        <label class="text-black text-[25px] mb-5 text-justify font-bold">Nombre artículo:</label><br>
                        <input class="rounded-2xl w-[600px] h-[25px]" type="text" value="{{articuloR.artNombre}}" #nombreAtr>
                    </div>
                    <div>
                        <label class="text-black text-[25px] mb-5 text-justify font-bold">Fecha artículo:</label><br>
                        <input class="rounded-2xl w-[600px] h-[25px]" type="Date" [value]="getDateTostring(articuloR.artFecha)" #fechaAtr>
                    </div>
                    <div>
                        <label class="text-black text-[25px] mb-5 text-justify font-bold">Descripción artículo:</label><br>
                        <textarea class="rounded-2xl w-[600px] h-[200px]" rows="4" cols="50" #descripcionAtr>{{articuloR.artDescripcion}}</textarea>
                    </div>
                </div>
                <div class="grid gap-15 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-rows-3">
                    <button class="bg-green-500 w-[320px] h-[45px] text-white text-[15px] place-content-center text-center font-bold rounded-2xl mx-8 my-16" (click)="cambiarEstadoC2('',nombreAtr.value,fechaAtr.value,descripcionAtr.value)">{{tag}} artículo</button>   
                </div>
            </div>
            <div>
                <input class="w-[320px] h-[320px] text-black text-[15px] place-content-center text-center font-bold rounded-2xl mx-16 my-16" type="file" (change)="imgSelect($event)">
            </div>
        </div>     
    </div>
    <div class="grid gap-15 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-rows-3" *ngIf="btn_estadoR">
        @for (articulo of articulos; track articulo.artNombre) {
                <div class="outline outline-offset-1 outline-1 outline-gray-200 bg-white w-[420px] h-[520px] p-4 m-auto rounded-2xl mt-[60px]">
                    <img src={{articulo.artImg}} alt="SUMOTHINGSARTALT">
                    <h1 class="text-orange-500 text-[50px] mb-5 text-center font-bold">{{articulo.artNombre}}</h1>
                    <p class="text-black text-[15px] mb-5 text-center font-bold">{{articulo.artFecha}}</p>
                    <p class="text-black text-[25px] mb-5 text-center font-bold">{{articulo.artDescripcion}}</p>
                    <div class="grid gap-15 grid-cols-2 grid-rows-1">
                        <button class="bg-orange-500 w-[160px] h-[35px] text-white text-[15px] place-content-center text-center font-bold rounded-2xl mx-7 my-16" (click)="cambiarEstadoU(articulo)">Editar</button>
                        <button class="bg-red-500 w-[160px] h-[35px] text-white text-[15px] place-content-center text-center font-bold rounded-2xl mx-7 my-16" (click)="eliminarArticulo(articulo)">Eliminar</button>   
                    </div>
                </div>
            }  
    </div>
</div>