<div class="bg-white sm: md: lg: xl: 2xl:">
    <div class="mx-12">
        <div class="bg-white p-4 m-auto rounded-2xl mt-[60px]">
            <h1 class="text-orange-500 text-[50px] mb-5 text-center font-bold">{{cambiarArt().artNombre}}</h1>
            <p class="text-gray-500 text-[15px] mb-5 text-left font-bold">{{cambiarArt().artFecha}} | SUMOTHINGS</p>
            <p class="text-black text-[20px] mb-5 text-justify font-bold">{{cambiarArt().artDescripcion}}</p>
            <img src={{cambiarArt().artImg}} alt="SUMOTHINGSARTALT">
        </div> 
    </div>    
</div>
