<app-navbar/>
<main class="flex flex-col">
    
    <!-- modificado -->
    <section class="w-screen relative">
        <div class="text-center space-y-6 md:text-7xl md:space-y-8 h-96">
            <div class="absolute inset-0 z-0 overflow-hidden">
                <img src="../../../assets/LogoPrincipal.jpeg"
                    class="w-full h-full object-cover absolute inset-0 opacity-70">
            </div>
            <div class="relative z-10 text-center font-bold flex flex-col items-center justify-center h-full">
                <div>
                    <h1 class="text-4xl text-colorTituloPrincipal text-green-600">Objetos Inteligentes a tu servicio</h1>
                </div>
                <div class="max-w-3xl">
                    <p class="text-base">Desarrollamos soluciones integrales y amigables para todos, que permitan delegar muchas tareas en el diario vivir, con el fin de que nuestros clientes enfoquen su tiempo en sus objetivos esenciales mejorando su calidad de vida.</p>
                </div>
            </div>
        </div>
    </section>  

    <main>
        <section class="container mx-auto p-4 h-105 w-4/5 mt-20">
            <div class="grid grid-cols-3 gap-4 justify-center">
                <!-- Bloques de contenido -->
                <div class="">
                    <h3 class="text-center text-colorDominica">Domótica</h3>
                    <p class="text-center">Ofrecemos objetos inteligentes fáciles de instalar y utilizar, para que usted invierta su tiempo en lo importante.</p>
                </div>
                <div class="centrar2 efecto">
                    <i class="fa-solid fa-check"></i>
                    <h3 class="text-center text-colorDominica">Domótica</h3>
                    <p class="text-center">Ofrecemos objetos inteligentes fáciles de instalar y utilizar, para que usted invierta su tiempo en lo importante.</p>
                </div>
                <div class="centrar2 efecto">
                    <i class="fa-solid fa-check"></i>
                    <h3 class="text-center text-colorDominica">Domótica</h3>
                    <p class="text-center">Ofrecemos objetos inteligentes fáciles de instalar y utilizar, para que usted invierta su tiempo en lo importante.</p>
                </div>
                <div class="centrar2 efecto">
                    <i class="fa-solid fa-check"></i>
                    <h3 class="text-center text-colorDominica">Domótica</h3>
                    <p class="text-center">Ofrecemos objetos inteligentes fáciles de instalar y utilizar, para que usted invierta su tiempo en lo importante.</p>
                </div>
                <div class="centrar2 efecto">
                    <i class="fa-solid fa-check"></i>
                    <h3 class="text-center text-colorDominica">Domótica</h3>
                    <p class="text-center">Ofrecemos objetos inteligentes fáciles de instalar y utilizar, para que usted invierta su tiempo en lo importante.</p>
                </div>
                <div class="centrar2 efecto">
                    <i class="fa-solid fa-check"></i>
                    <h3 class="text-center text-colorDominica">Domótica</h3>
                    <p class="text-center">Ofrecemos objetos inteligentes fáciles de instalar y utilizar, para que usted invierta su tiempo en lo importante.</p>
                </div>
            </div>
        </section>
        
        <section class="bg-gray-200 container mx-auto p-4 border h-105 w-4/5 m-20">
            <div class="container grid grid-cols-2">
                <div class="left-div">
                    <img src="https://media.istockphoto.com/id/1462939219/es/foto/grupo-de-desarrollador-de-ux-y-dise%C3%B1ador-de-interfaz-de-usuario-que-intercambian-ideas-sobre.jpg?s=1024x1024&w=is&k=20&c=Uydg6Pwrd1oOVyDnk2GlZQZPxnnDkuAzXx2F1QJvSQI="
                         class="bg-clip-content p-20">
                </div>
                <div class="right-div">
                    <h1 class="font-bold flex flex-col justify-center h-14">Desarrollo de objetos inteligentes</h1>
                    <p class="flex flex-col h-14">Creamos objetos conscientes del contexto que permiten la 
                        ejecución de servicios personalizados a tus necesidades</p>
                    <div class="left-div">• Akiktentek Intelifentej</div>
                    <div class="left-div">• Monitoreo de perkonak y actividadek.</div>
                    <a href="" class="btn-custon btn-primary">Ver más</a>
                </div>
            </div>
        </section>
        <section class="container mx-auto p-4">
            <div class="grid grid-cols-2 gap-8 justify-center">
                <!-- Primer card -->
                <div class="bg-orange-500 w-64 h-80 flex flex-col items-center justify-center rounded-lg shadow-lg m-auto">
                    <img src="https://media.istockphoto.com/id/1432935110/es/foto/la-mujer-trabaja-en-la-computadora-port%C3%A1til-de-forma-remota-en-casa-en-la-naturaleza.jpg?s=1024x1024&w=is&k=20&c=zfYIK9Zhbs5FpEEJk3cpw45vrz6vC6at4OppU7RVdfs="
                         class="rounded-full bg-clip-content p-2 w-24 h-24">
                    <h1 class="font-bold text-lg mt-4">Omar Guzmán Alvarez</h1>
                    <p class="text-sm text-center mt-2 px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
        
                <!-- Segundo card -->
                <div class="bg-orange-500 w-64 h-80 flex flex-col items-center justify-center overflow-hidden rounded-lg shadow-lg m-auto">
                    <img src="https://media.istockphoto.com/id/1432935110/es/foto/la-mujer-trabaja-en-la-computadora-port%C3%A1til-de-forma-remota-en-casa-en-la-naturaleza.jpg?s=1024x1024&w=is&k=20&c=zfYIK9Zhbs5FpEEJk3cpw45vrz6vC6at4OppU7RVdfs="
                         class="rounded-full bg-clip-content p-2 w-24 h-24">
                    <h1 class="font-bold text-lg mt-4">Omar Guzmán Alvarez</h1>
                    <p class="text-sm text-center mt-2 px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
        
                <!-- Tercer card -->
                <div class="bg-orange-500 w-64 h-80 flex flex-col items-center justify-center overflow-hidden rounded-lg shadow-lg m-auto">
                    <img src="https://media.istockphoto.com/id/1432935110/es/foto/la-mujer-trabaja-en-la-computadora-port%C3%A1til-de-forma-remota-en-casa-en-la-naturaleza.jpg?s=1024x1024&w=is&k=20&c=zfYIK9Zhbs5FpEEJk3cpw45vrz6vC6at4OppU7RVdfs="
                         class="rounded-full bg-clip-content p-2 w-24 h-24">
                    <h1 class="font-bold text-lg mt-4">Omar Guzmán Alvarez</h1>
                    <p class="text-sm text-center mt-2 px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
        
                <!-- Cuarto card -->
                <div class="bg-orange-500 w-64 h-80  flex flex-col items-center justify-center overflow-hidden rounded-lg shadow-lg  m-auto">
                    <img src="https://media.istockphoto.com/id/1432935110/es/foto/la-mujer-trabaja-en-la-computadora-port%C3%A1til-de-forma-remota-en-casa-en-la-naturaleza.jpg?s=1024x1024&w=is&k=20&c=zfYIK9Zhbs5FpEEJk3cpw45vrz6vC6at4OppU7RVdfs="
                         class="rounded-full bg-clip-content p-2 w-24 h-24">
                    <h1 class="font-bold text-lg mt-4">Omar Guzmán Alvarez</h1>
                    <p class="text-sm text-center mt-2 px-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </section>
    </main>

    <app-footer/>
    
</main> 

