<footer
  class="w-screen flex flex-col justify-center items-center bg-[#606060] text-white pt-5 pb-6 md:p-6 lg:p-8 gap-2"
>
  <h1 class="text-3xl font-bold text-center">Trabajemos juntos en tu próximo proyecto</h1>
  <p class="w-2/3 text-center">
    Somos una empresa que entiende las necesidades de nuestros clientes como el
    pilar fundamental dentro de su negocio, para obtener beneficios mediante
    servicios y productos diferenciales en un entorno económico y tecnológico
    disruptivo.
  </p>
  <a href="/contact" class="bg-orange-500 p-2 text-black font-semibold">
    Contactanos
  </a>
  <article class="flex w-1/2 md:1/3 lg:1/4 justify-between pt-2">
    <a href="">
        <img class="w-8" src="../../../assets/linkedin.png" alt="Linkedin" />
    </a>
    <a href="">
        <img class="w-8" src="../../../assets/tik-tok.png" alt="Linkedin" />
    </a>
    <a href="">
        <img class="w-8" src="../../../assets/twitter.png" alt="Linkedin" />
    </a>
  </article>
</footer>
