<main class="flex ">
    <app-inventory-aside-bar />

<div class="w-screen overflow-auto max-h-screen h-screen p-2 md:p-4 lg:md-5">
  <div class="flex flex-col gap-2 justify-around items-center pb-4 md:flex-row lg:flex-row">
    <div class="relative w-full md:w-1/3">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input (input)="searchDealer($event)" type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border rounded-lg focus:border-none" placeholder="Buscar proveedor" />
  </div>
    <a href="/create-dealer" class="bg-[#CC4558] p-2 rounded-xl font-bold text-center w-1/2 md:w-1/6">Añadir Proveedor</a>
    <div class="w-full flex justify-around mt-2 md:hidden lg:hidden">
      <button (click)="orderByCedula()" class="bg-[#FCAF3B] p-1 rounded hover:bg-[#daab66]">Por cedula</button>
      <button (click)="orderByName()" class="bg-[#FCAF3B] p-1 rounded hover:bg-[#daab66]">Por nombre</button>
    </div>
  </div>

  <div>
    <table class="w-full text-left table-auto border-collapse md:table">
      <thead class="hidden md:table-header-group">
        <tr class="bg-gray-200 text-gray-800">
          <th (click)="orderByCedula()" class="p-3 text-xs md:text-sm cursor-pointer hover:scale-[1.03] duration-300"><div class="flex">Cedula <img class=" pl-2 h-5 " src="../../../assets/pointer-down-svgrepo-com.svg" alt="flecha"> </div></th>
          <th (click)="orderByName()" class="p-3 text-xs md:text-sm cursor-pointer hover:scale-[1.03] duration-300"><div class="flex">Nombre <img class=" pl-2 h-5 " src="../../../assets/pointer-down-svgrepo-com.svg" alt="flecha"> </div></th>
          <th class="p-3 text-xs md:text-sm">Email</th>
          <th class="p-3 text-xs md:text-sm">Telefono</th>
          <th class="p-3 text-xs md:text-sm">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (dealer of dealers; track dealer.deaID) {
          <tr class="flex flex-col md:table-row border-b hover:bg-gray-100 p-3">
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">Cédula: </span>{{dealer.deaCedula}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">Nombre Completo: </span>{{dealer.deaFullName}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">Correo Electrónico: </span>{{dealer.deaEmail}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">Teléfono: </span>{{dealer.deaPhone}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <!-- Botones adaptados para pantallas pequeñas -->
              <button class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600 transition mr-1">
                Editar
              </button>
              <button (click)="deleteDealer(dealer.deaID)" class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600 transition">
                Borrar
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  
</div>
</main>
