<div class="w-screen">
  <app-navbar />
  <div class="mt-10 p-5 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5">
    @for (articulo of articulos; track articulo.artID) {
    <div class="flex items-center justify-center w-full">
      <article class="flex flex-col border border-gray-200 p-5 rounded-xl gap-2 items-center">
        <h1 class="text-orange-500 font-bold text-[1.5rem] text-center">
          {{ articulo.artNombre }}
        </h1>
        <p class="">
          {{ articulo.artDescripcion }}
        </p>
        <p class="font-bold text-[0.7rem] text-left w-full">
          {{ articulo.artFecha }}
        </p>
        <a href="/article/{{ articulo.artID }}"
          class="bg-orange-500 p-2 text-white rounded-md w-fit hover:bg-orange-600"
        >
          Leer más
    </a>
      </article>
    </div>
    }
  </div>
</div>
