<div class="flex min-h-screen flex-col justify-center px-6 py-12 lg:px-8 main-screen">

    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <a href="/">
            <img class="bg-contain h-[10rem] cursor-pointer mx-auto w-auto" src="../../../assets/LogoSumothings.png" alt="Sumothings">
        </a>
        <h2 class="mt-10 text-center text-3xl font-bold leading-9 tracking-tight text-gray-900">Ingresa a tu cuenta de administrador</h2>
    </div>

    <!-- Formulario -->
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        
        <form class="space-y-6" [formGroup]="loginForms" (submit)="loginAdmin()">
            <!-- Correo -->
            <div>
                <label for="email" class="block text-base font-medium leading-6 text-gray-900 ml-2">Correo</label>
                <div class="email relative h-14">
                    <fa-icon [icon]="faUserCircle" class="absolute top-0 bottom-0 left-5 text-xl flex items-center"></fa-icon>
                    <input formControlName="admEmail" type="email" name="email" id="email" 
                        class="block h-14 w-full rounded-full border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-xl sm:leading-6 pl-16 text-xl ">
                </div>
            </div>

            <!-- Contraseña -->
            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-base font-medium leading-6 text-gray-900 ml-2">Contraseña</label>
                    <div class="text-base">
                        <a href="#" class="font-semibold text-green-700 hover:text-green-500">¿Olvidaste la
                            contraseña?</a>
                    </div>
                </div>
                <div class="password relative h-14">
                    <fa-icon [icon]="faLock" class="absolute top-0 bottom-0 left-5 text-xl flex items-center"></fa-icon>
                    <input formControlName="admPassword" type="password" name="password" id="password" autocomplete="current-password" required 
                        class="block h-14 w-full rounded-full border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-xl sm:leading-6 pl-16 text-xl ">
                </div>
            </div>

            <!-- Iniciar sesión -->
            <div>
                <button type="submit"
                    class="flex w-full justify-center rounded-full bg-green-700 px-3 py-2.5 text-xl font-semibold leading-6 text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Iniciar
                    sesión</button>
            </div>
        </form>
    </div>
</div>