<main class="flex">
    <app-inventory-aside-bar />

    <div class="mx-auto mt-10 bg-slate-200 h-fit p-10 rounded-3xl">
        <h2 class="text-2xl font-bold text-center mb-6">Actualizar Producto</h2>
        
        <form  [formGroup]="productForms" (submit)="updateProduct()" >
          <!-- Campo para cargar imagen -->
          <div class="grid grid-cols-2 gap-3">
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="image">
                Imagen del Producto
              </label>
              <input type="file" formControlName="proImage" name="image" id="image" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
        
            <!-- Campo para nombre del producto -->
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="name">
                Nombre del Producto
              </label>
              <input type="text" formControlName="proName" name="name" id="name" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
        
            <!-- Campo para stock -->
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="stock">
                Stock
              </label>
              <input type="number" formControlName="proStock" name="stock" id="stock" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500" required min="0">
            </div>
  
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="Heigh">
                Altura
              </label>
              <input type="number" formControlName="proHeight" name="Heigh" id="Heigh" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500" required min="0">
            </div>
  
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="Length">
                Largo
              </label>
              <input type="number" formControlName="proLength" name="Length" id="Length" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500" required min="0">
            </div>
  
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="Weight">
                Peso
              </label>
              <input type="number" formControlName="proWeight" name="Weight" id="Weight" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500" required min="0">
            </div>

             <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="price">
                Ancho
              </label>
              <input type="number" formControlName="proWidth" name="price" id="price" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500" required min="0">
            </div>
  
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="CostPrice">
                Precio de compra
              </label>
              <input type="number" formControlName="proBuyPrice" name="CostPrice" id="CostPrice" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500" required min="0">
            </div>
  
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="SellingPrice">
                Precio de venta
              </label>
              <input type="number" formControlName="proSellPrice" name="SellingPrice" id="SellingPrice" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500" required min="0">
            </div>
  
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="MinStock">
                Stock Mínimo
              </label>
              <input type="number" formControlName="proMinStock" name="MinStock" id="MinStock" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500" required min="0">
            </div>
  
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="MaxStock">
                Stock Maximo
              </label>
              <input type="number" formControlName="proMaxStock" name="MaxStock" id="MaxStock" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500" required min="0">
            </div>
  
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="Category">
                Categoria
              </label>
              <select name="" id="" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500">
                @for (typeProduct of typeProducts; track typeProduct.ptID) {
                  <option value="{{typeProduct.ptID}}">{{typeProduct.ptName}}</option>
                }
              </select>
            </div>
  
            <div class="mb-4">
              <label class="block text-sm font-medium text-gray-700" for="Description">
                Descripción
              </label>
              <textarea formControlName="proDescription" name="Description" id="Description" class="w-full p-2 border rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500" required></textarea>
            </div>
          </div>
              
      
          <!-- Botón de enviar -->
          <div class="text-center">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition">
              Actualizar Producto
            </button>
          </div>
        </form>
      </div>
</main>
