<main class="flex">
    <app-inventory-aside-bar />

<div class="w-screen h-screen p-2 md:p-4 lg:md-5">
  
  <div class="flex flex-col gap-2 justify-around pb-4 md:flex-row lg:flex-row">
    <a href="/create-product" class="bg-[#CC4558] p-2 rounded-xl font-bold text-center">Añadir compra</a>
    <button (click)="orderByDate()" class="bg-[#CC4558] p-2 rounded-xl font-bold">Ordenar por fecha</button>
    <button (click)="orderByProduct()" class="bg-[#CC4558] p-2 rounded-xl font-bold">Ordenar por producto</button>
  </div>

  <div class="overflow-x-auto">
    <table class="w-full text-left table-auto border-collapse">
      <thead>
        <tr class="bg-gray-200 text-gray-800">
          <th class="p-3 text-sm">Identificador</th>
          <th class="p-3 text-sm">Id producto</th>
          <th class="p-3 text-sm">Id proveedor</th>
          <th class="p-3 text-sm">Fecha</th>
          <th class="p-3 text-sm">Unidades</th>
          <th class="p-3 text-sm">Precio</th>
          <th class="p-3 text-sm">Impuestos</th>
            <th class="p-3 text-sm">Total</th>

            <th class="p-3 text-sm">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (shopping of shoppings; track shopping.shoID) {
        <tr class="hover:bg-gray-100 border-b">
          <td class="p-3 text-sm">{{shopping.shoID}}</td>
          <td class="p-3 text-sm">{{shopping.proID}}</td>
          <td class="p-3 text-sm">{{shopping.deaID}}</td>
          <td class="p-3 text-sm">{{shopping.shoDate}}</td>
          <td class="p-3 text-sm">{{shopping.shoProductUnits}}</td>
          <td class="p-3 text-sm">{{shopping.shoPrice}}</td>
          <td class="p-3 text-sm">{{shopping.shoTaxes}}</td>
          <td class="p-3 text-sm">{{shopping.shoTotal}}</td>
          <td class="p-3 text-sm">
            <button class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600 transition mr-2">
              Edit
            </button>
            <button (click)="deleteShopping(shopping.shoID)" class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600 transition">
              Delete
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  
</div>
</main>
