
<main class="flex">
    <app-inventory-aside-bar />

<div class="w-screen overflow-auto max-h-screen h-screen p-2 md:p-4 lg:md-5">
  <div class="flex flex-col gap-2 justify-around items-center pb-4 md:flex-row lg:flex-row">
    <div class="relative w-full md:w-1/3">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input (input)="searchArticle($event)" type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border rounded-lg focus:border-none" placeholder="Buscar articulo" />
  </div>
    <a href="/create-article" class="bg-[#CC4558] p-2 rounded-xl font-bold text-center w-1/2 md:w-1/6">Añadir articulo</a>
    <div class="w-full flex justify-around mt-2 md:hidden lg:hidden">
      <button (click)="orderByDate()" class="bg-[#FCAF3B] p-1 rounded hover:bg-[#daab66]">Por fecha</button>
      <button (click)="orderByAuthor()" class="bg-[#FCAF3B] p-1 rounded hover:bg-[#daab66]">Por autor</button>
      <button (click)="orderByTitle()" class="bg-[#FCAF3B] p-1 rounded hover:bg-[#daab66]">Por titulo</button>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table class="w-full text-left table-auto border-collapse md:table">
      <thead class="hidden md:table-header-group">
        <tr class="bg-gray-200 text-gray-800">
          <th class="p-3 text-xs md:text-sm">Identificador</th>
          <th (click)="orderByTitle()" class="p-3 text-xs md:text-sm flex cursor-pointer hover:scale-[1.03] duration-300">Titulo <img class=" pl-2 h-5 " src="../../../assets/pointer-down-svgrepo-com.svg" alt="flecha"></th>
          <th class="p-3 text-xs md:text-sm">Descripción</th>
          <th (click)="orderByAuthor()" class="p-3 text-xs md:text-sm cursor-pointer hover:scale-[1.03] duration-300"><div class="flex">Autor <img class=" pl-2 h-5 " src="../../../assets/pointer-down-svgrepo-com.svg" alt="flecha"></div></th>
          <th (click)="orderByDate()" class="p-3 text-xs md:text-sm cursor-pointer hover:scale-[1.03] duration-300"><div class="flex">Fecha <img class=" pl-2 h-5 " src="../../../assets/pointer-down-svgrepo-com.svg" alt="flecha"> </div></th>
          <th class="p-3 text-xs md:text-sm">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (article of articles; track article.artID) {
          <tr class="flex flex-col md:table-row border-b hover:bg-gray-100 p-3">
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">ID: </span>{{article.artID}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">Título: </span>{{article.artTitle}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">Descripción: </span>{{article.artShortDescription}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">Autor: </span>{{article.artAuthor}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">Fecha: </span>{{article.artDate}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <!-- Botones con etiquetas para mayor claridad en dispositivos móviles -->
              <a href="/edit-article/{{ article.artID }}"
              class="bg-blue-500 px-2 py-1 text-white rounded hover:bg-blue-600 transition mr-1"
              >
              Editar
              </a>
              <button (click)="deleteArticle(article.artID)" class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600 transition">
                Borrar
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  
</div>
</main>
