
<main class="flex">
    <app-inventory-aside-bar />

<div class="w-screen h-screen p-2 md:p-4 lg:md-5">

  <div class="flex flex-col items-center gap-2 justify-around pb-4 md:flex-row lg:flex-row">
    <a href="/create-product" class="bg-[#CC4558] p-2 rounded-xl font-bold text-center w-1/2 md:w-1/6">Añadir articulo</a>
    <button (click)="orderByDate()" class="bg-[#FCAF3B] p-2 rounded-xl font-bold w-1/2 md:w-1/6">Ordenar por fecha</button>
    <button (click)="orderByAuthor()" class="bg-[#FCAF3B] p-2 rounded-xl font-bold w-1/2 md:w-1/6">Ordenar por autor</button>
    <button (click)="orderByTitle()" class="bg-[#FCAF3B] p-2 rounded-xl font-bold w-1/2 md:w-1/6">Ordenar por titulo</button>
  </div>

  <div class="overflow-x-auto">
    <table class="w-full text-left table-auto border-collapse md:table">
      <thead class="hidden md:table-header-group">
        <tr class="bg-gray-200 text-gray-800">
          <th class="p-3 text-xs md:text-sm">Identificador</th>
          <th class="p-3 text-xs md:text-sm">Titulo</th>
          <th class="p-3 text-xs md:text-sm">Descripción</th>
          <th class="p-3 text-xs md:text-sm">Autor</th>
          <th class="p-3 text-xs md:text-sm">Fecha</th>
          <th class="p-3 text-xs md:text-sm">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (article of articles; track article.artID) {
          <tr class="flex flex-col md:table-row border-b hover:bg-gray-100 p-3">
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">ID: </span>{{article.artID}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">Título: </span>{{article.artTitle}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">Descripción: </span>{{article.artShortDescription}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">Autor: </span>{{article.artAuthor}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <span class="md:hidden font-bold">Fecha: </span>{{article.artDate}}
            </td>
            <td class="p-2 text-sm md:table-cell">
              <!-- Botones con etiquetas para mayor claridad en dispositivos móviles -->
              <button class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600 transition mr-1">
                Editar
              </button>
              <button (click)="deleteArticle(article.artID)" class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600 transition">
                Borrar
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  
</div>
</main>
