<main>
       
    <div class=" ">
        <app-navbar/>  
        
        
        <!-- Parte 1-->

        <section class=" grid grid-cols-2 gap-4 flex-wrap ">
            <!-- Div a la izquierda -->
            <div class="row-span-1 m-24 col-span-1 flex justify-center items-center">
                <div class="bg-center">
                    <h1 class="text-4xl mb-4">Sobre Nosotros</h1>
                    <p class="text-2x1">Somos Sumo Things, una empresa dedicada al desarrollo de soluciones integrales y amigables que simplifican la vida cotidiana, permitiendo que nuestros clientes se enfoquen en sus metas esenciales y mejoren su calidad de vida. Con una amplia gama de servicios que van desde la domótica hasta el desarrollo de objetos inteligentes conscientes del contexto, estamos comprometidos a proporcionar soluciones innovadoras que se adapten a las necesidades individuales de cada cliente. Con un equipo dedicado y líderes en el campo, estamos listos para trabajar contigo en tu próximo proyecto.</p>
                </div>
            </div>
            
            <!-- Div a la derecha -->
            <div class="">
                <img src="https://media.istockphoto.com/id/618195354/es/foto/visi%C3%B3n-general-de-las-mujeres-que-trabajan-juntas.jpg?s=612x612&w=0&k=20&c=wzSvpNWHioyr7mC4WfeC6q_R1_2fMOi8fLrxdxHdyjk=" class="w-2/3 h-auto mx-auto float-left">
            </div>
        </section>
        
        <!-- Parte 2-->
        
        <section class="  grid grid-cols-2 gap-4 flex-wrap ">
            <!-- Div a la izquierda -->
            <div class="">
                <img src="https://cdn.pixabay.com/photo/2018/05/09/22/40/career-3386334_1280.jpg" class="w-2/3 h-auto mx-auto float-none">
            </div>
            
            <!-- Div a la derecha -->
            <div class="row-span-1  m-24 col-span-1 flex justify-center items-center">
                <div class=" bg-center  ">
                    <h1 class="text-4xl mb-4">Nuestra Mision</h1>
                    <p class="text-2x1 ">Nuestra misión en Sumo Things es liderar el camino hacia un futuro más conectado y eficiente, proporcionando soluciones tecnológicas innovadoras que simplifiquen la vida de las personas y mejoren su bienestar. Nos comprometemos a desarrollar productos y servicios de calidad que sean accesibles y fáciles de usar, permitiendo a nuestros clientes aprovechar al máximo las ventajas de la tecnología inteligente en su día a día. Con un enfoque en la excelencia y la atención al cliente, buscamos impulsar el progreso y la innovación en el campo de los objetos inteligentes, contribuyendo así a un mundo más inteligente y conectado para todos.</p>
                </div>
            </div>
        </section>
        
        <!-- Parte 3-->

        
        <section class=" grid grid-cols-2 gap-4 flex-wrap my-20">
            <!-- Div a la izquierda -->
            <div class="row-span-1  m-24 col-span-1 flex justify-center items-center">
                <div class="bg-center  ">
                    <h1 class="text-4xl mb-4">Nuestra Historia<br></h1>
                    <p class="text-2x1">Nuestra historia en Sumo Things es un viaje de pasión y compromiso con la innovación tecnológica. Comenzamos como un equipo de apasionados por la tecnología con la visión de transformar la forma en que las personas interactúan con su entorno a través de objetos inteligentes. Desde nuestros humildes comienzos, nos hemos dedicado a desarrollar soluciones que simplifican la vida cotidiana y mejoran la calidad de vida de las personas.
                        Con el tiempo, hemos crecido y evolucionado, ampliando nuestra gama de servicios y productos para abarcar áreas como la domótica, la consultoría en IoT y el desarrollo de objetos inteligentes. Nuestra dedicación a la excelencia y la innovación nos ha llevado a colaborar con clientes de diversas industrias y a expandir nuestra presencia en el mercado.
                        Hoy en día, seguimos comprometidos con nuestra misión de liderar el camino hacia un futuro más conectado y eficiente, ofreciendo soluciones tecnológicas avanzadas que se adaptan a las necesidades individuales de cada cliente. Con un equipo talentoso y dedicado, estamos emocionados de continuar nuestro viaje hacia la excelencia y de seguir marcando la diferencia en el mundo de los objetos inteligentes.</p>
                </div>
            </div>
            
            <!-- Div a la derecha -->
            <div class="row-span-1 col-span-1 flex justify-center items-center">
                <img src="https://cdn.pixabay.com/photo/2015/07/27/20/16/book-863418_1280.jpg" class="w-2/3 h-auto mx-auto">
            </div>
        </section>
        

        <section class=" bg-slate-200 grid grid-cols-2 gap-4 flex-wrap mb-12 text-center">
            <!-- Div a la izquierda -->
            <div class="row-span-1 m-24 col-span-1 flex justify-center items-center max-w-lg flex-col">
                <div class="bg-center text-justify">
                    <h1 class="text-4xl mb-12">Estamos ubicados en<br> 
                        nuestra localizacion<br></h1>
                    <p class="text-2xl">Colombia<br>
                        Popayán, Cauca<br>
                    </p>
                </div>
            </div>
            
            
            
            <!-- Div a la derecha -->
            <div class="row-span-1 col-span-1 flex justify-center items-center">
                <div>
                    <img src="https://cdn.pixabay.com/photo/2024/06/03/12/33/icon-8806316_1280.png" class="w-2/4 h-auto mx-auto">
                </div>
            </div>
        </section>
    </div>

     <!-- 5 parte -->

    <app-footer/>
    
    
</main>


