<main>
       
    <div class=" ">
        <app-navbar/>  
        
        
        <!-- Parte 1-->

        <section class=" grid grid-cols-2 gap-4 flex-wrap ">
            <!-- Div a la izquierda -->
            <div class="row-span-1 m-24 col-span-1 flex justify-center items-center">
                <div class="bg-center">
                    <h1 class="text-4xl mb-4">Sobre Nosotros</h1>
                    <p class="text-2x1">HubSpot’s company and culture are a lot like our product. They’re
                        crafted, not cobbled, for a delightful experience.</p>
                </div>
            </div>
            
            <!-- Div a la derecha -->
            <div class="">
                <img src="../../../assets/about1.png" class="w-2/3 h-auto mx-auto float-left">
            </div>
        </section>
        
        <!-- Parte 2-->
        
        <section class="  grid grid-cols-2 gap-4 flex-wrap ">
            <!-- Div a la izquierda -->
            <div class="">
                <img src="../../../assets/about2.png" class="w-2/3 h-auto mx-auto float-none">
            </div>
            
            <!-- Div a la derecha -->
            <div class="row-span-1  col-span-1 flex justify-center items-center text-left">
                <div class=" max-w-lg  ">
                    <h1 class="text-4xl ">Nuestra Mision</h1>
                    <p class="text-2x1 ">We believe not just in growing bigger, but in growing better. And
                        growing better means aligning the success of your own business with
                        the success of your customers. Win-win</p>
                </div>
            </div>
        </section>
        
        <!-- Parte 3-->

        
        <section class=" grid grid-cols-2 gap-4 flex-wrap my-20">
            <!-- Div a la izquierda -->
            <div class="row-span-1  col-span-1 flex justify-center items-center text-left">
                <div class="max-w-lg ">
                    <h1 class="text-4xl ">Nuestra Historia<br></h1>
                    <p class="text-base">In 2004, fellow MIT graduate students Brian Halligan and Dharmesh Shah noticed a major shift in the way people shop and purchase products. Buyers didn’t want to be interrupted by ads, they wanted helpful information. In 2006, they founded HubSpot to help companies use that shift to grow better with inbound marketing.<br>
                    Along the way, HubSpot expanded beyond marketing into a crafted, not cobbled suite of products that create the frictionless customer experience that buyers expect today. Expertly led by CEO Yamini Rangan, HubSpot uses its customer platform built on an AI-powered Smart CRM to help millions of scaling organizations grow better.</p>
                </div>
            </div>
            
            <!-- Div a la derecha -->
            <div class="row-span-1 col-span-1 flex justify-center items-center">
                <img src="../../../assets/about3.png" class="w-2/3 h-auto mx-auto">
            </div>
        </section>
        

        <section class=" bg-slate-200 grid grid-cols-2 gap-4 flex-wrap mb-12 text-center">
            <!-- Div a la izquierda -->
            <div class="row-span-1 m-24 col-span-1 flex justify-center items-center max-w-lg flex-col">
                <div class="bg-center text-justify">
                    <h1 class="text-4xl">Contacta con nosotros en<br> 
                        nuestra localizacion<br></h1>
                    <p class="text-2xl">Global Headquarters<br>
                        Boston, MA, USA<br>
                        Phone: + 1 888 HUBSPOT (+1 888 482 7768)</p>
                </div>
            </div>
            
            
            
            <!-- Div a la derecha -->
            <div class="row-span-1 col-span-1 flex justify-center items-center">
                <div>
                    <img src="../../../assets/about4.png" class="w-2/4 h-auto mx-auto">
                </div>
            </div>
        </section>
    </div>

     <!-- 5 parte -->

    <app-footer/>
    
    
</main>


