<main class="flex">
  <!-- Sidebar -->
  <app-inventory-aside-bar/>

  <!-- Contenido principal -->
  <div
    class="flex flex-col w-full lg:grid lg:grid-cols-2 p-3 gap-4 md:p-4 md:gap-4 lg:p-9 lg:gap-9"
  >
  <div class="flex flex-col gap-4 lg:gap-9">
    <article class="w-full border-[#FCAF3B] border-2 h-fit rounded-2xl">
      <h2 class="text-center p-3 border-b-2 border-[#FCAF3B]">
        Productos mas vendidos
      </h2>
      <section
        class="grid grid-cols-1 gap-4 items-center content-center p-4 md:grid-cols-3 lg:grid-cols-2 big-lg:grid-cols-3"
      >
        @for (product of information.mostSalingProducts; track product.proID) {
        <div class="flex justify-start items-center gap-1">
          <img
            src="{{ product.proImage }}"
            alt="{{ product.proName }}"
            class="w-14 h-14"
          />
          <div>
            <h3 class="truncate max-w-32">{{ product.proName }}</h3>
            <p>{{ product.proPrice }}</p>
          </div>
        </div>
        }
      </section>
    </article>

    <article class="w-full border-[#FCAF3B] border-2 h-fit rounded-2xl">
      <h2 class="text-center p-3 border-b-2 border-[#FCAF3B]">
        Productos con bajo stock
      </h2>
      <section
        class="grid grid-cols-1 gap-4 items-center content-center p-4 md:grid-cols-3 lg:grid-cols-2 big-lg:grid-cols-3"
      >
        @for (product of information.productsWithLowStock; track product.proID) {
        <div class="flex justify-start items-center gap-1">
          <div>
            <h3 class="truncate max-w-44">
              <span class="font-bold">Nombre: </span> {{ product.proName }}
            </h3>
            <p><span class="font-bold">Precio:</span> {{ product.proPrice }}</p>
            <p><span class="font-bold">Stock:</span> {{ product.proStock }}</p>
          </div>
        </div>
        }
      </section>
    </article>
  </div>

  <div class="flex flex-col gap-4 lg:gap-9">
    <article class="w-full border-[#FCAF3B] border-2 h-fit rounded-2xl">
      <h2 class="text-center p-3 border-b-2 border-[#FCAF3B]">Resumen</h2>
      <section
        class="grid grid-cols-1 gap-4 items-center content-center p-4 md:grid-cols-3 lg:grid-cols-2 big-lg:grid-cols-3"
      >
            <p>
              <span class="font-bold">Stock actual: </span> {{ information.inventorySummary.productsNumber }}
            </p>
            <p><span class="font-bold">Numero de clientes:</span> {{ information.inventorySummary.totalClients }}</p>
            <p><span class="font-bold">Numero de ventas:</span> {{ information.inventorySummary.totalSales }}</p>
      </section>
    </article>
  </div>

    
  </div>
</main>
